LDAP_BASE_DN=dc=home,dc=example
LDAP_BIND_DN=uid=admin,ou=people,dc=home,dc=example
LLDAP_ADMIN_PASS=
LLDAP_JWT_SECRET=
POCKETID_APP_URL=https://auth.home.example
POCKETID_ENCRYPTION_KEY=
TINYAUTH_APP_URL=https://login.home.example
