[defaults]
inventory = inventories/generated/hosts.yaml
forks = 10
timeout = 30
host_key_checking = False
interpreter_python = auto
retry_files_enabled = False
roles_path = roles
vars_plugins_enabled = host_group_vars,community.sops.sops
