DEEZER_ARL=
EXPLO_UI_PASSWORD=
EXPLO_UI_USERNAME=
KOITO_SUBSONIC_PARAMS=
KOITO_USER_A_API_KEY=
KOITO_USER_B_API_KEY=
KOITO_USER_B_SUBSONIC_PARAMS=
LASTFM_USER_A_API_KEY=
LASTFM_USER_A_SECRET=
LISTENBRAINZ_USER_A_TOKEN=
LISTENBRAINZ_USER_B_TOKEN=
OCTO_FIESTA_DOWNLOAD_MODE=
OCTO_FIESTA_MUSIC_SERVICE=
OCTO_FIESTA_STORAGE_MODE=
PROTONVPN_SERVER_COUNTRIES=Netherlands
PROTONVPN_WIREGUARD_PRIVATE_KEY=
QOBUZ_USER_AUTH_TOKEN=
QOBUZ_USER_ID=
SLSKD_API_KEY=
SLSKD_UI_PASSWORD=
SLSKD_UI_USERNAME=user-a
SOULBEET_SECRET_KEY=
SOULSEEK_PASSWORD=
SOULSEEK_USERNAME=user-a
SQUIDWTF_SOURCE=
SUBSONIC_ADMIN_PASSWORD=
SUBSONIC_ADMIN_USERNAME=admin
YANDEX_OAUTH_TOKEN=
